

  <%= form_tag( :controller => 'inventory', action => "query", :method => "get", ) do%>
    <div class="form-group">
      <%= label_tag("Make") %>
      <%= select_tag("type", '<option>Toyota</option><option>Honda</option><option>Ford</option>', :class=>"form-control")  %>
    </div>
    <br/>


    <div class="form-group">
      <%= label_tag(:type, "Type")%>
      <%= select_tag("type", '<option>Sedan</option><option>SUV</option>', :class=>"form-control")  %>
    </div>
    <br/>

    <div class="form-group">
      <%= label_tag(:price, "Price")%>
      <%= select_tag("price", '<option>100 - 150</option><option>150 - 200</option>', :class=>"form-control")  %>
    </div>

  <% end %>



  <table class="table table-hover table-bordered table-striped table-responsive table-condensed">
    <tr>
      <th>VIN</th>
      <th>Model</th>
      <th>Make</th>
      <th>Type</th>
      <th>Year</th>
      <th>Color</th>
      <th>Used</th>
      <th>Miles</th>
      <th>KBBValue</th>
      <th>Rental Price</th>
      <th>MPG</th>
      <th>SellerID</th>
    </tr>


    <% @inventory.each do |car| %>
        <tr>
          <td><%= car.VIN %></td>
          <td><%= car.MODEL %></td>
          <td><%= car.MAKE %></td>
          <td><%= car.TYPE %></td>
          <td><%= car.YEAR %></td>
          <td><%= car.COLOR %></td>
          <td><%= car.USED %></td>
          <td><%= car.MILES %></td>
          <td><%= car.KBBVALUE %></td>
          <td><%= car.RENTALPRICE %></td>
          <td><%= car.MPG %></td>
          <td><%= car.SELLERID %></td>
        </tr>
    <% end %>
  </table>

</div>