<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ryde</title>
  <meta name="description" content="Ryde">
  <meta name="author" content="Jewel Theme">


  <%= javascript_include_tag "application" %>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if IE]>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- Bootstrap  -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet">

  <!-- icon fonts font Awesome -->
  <link href="/assets/font-awesome.min.css" rel="stylesheet">

  <!-- Custom Styles -->
  <link href="/assets/style.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <![endif]-->

</head>
<body>

<!-- Preloader -->
<div id="preloader">
  <div id="loader">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="lading"></div>
  </div>
</div><!-- /#preloader -->
<!-- Preloader End-->


<!-- Main Menu -->
<div id="main-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <!-- responsive navigation -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
    </button> <!-- /.navbar-toggle -->

  </div> <!-- /.navbar-header -->

  <nav class="collapse navbar-collapse">
    <!-- Main navigation -->
    <ul id="headernavigation" class="nav navbar-nav">
      <li class="active"><a href="#page-top">Home</a></li>
      <li><a href="#about">Rydes</a></li>
    </ul> <!-- /.nav .navbar-nav -->
  </nav> <!-- /.navbar-collapse  -->
</div><!-- /#main-menu -->
<!-- Main Menu End -->


<!-- Page Top Section -->
<section id="page-top" class="section-style">
  <div class="pattern height-resize">
    <div class="container">
      <h3 class="section-name">
					<span>
						<br> <br> <br> <br> Take a <br> <br>
					</span>
      </h3><!-- /.section-name -->
      <h1 class="site-title">
        Ryde
      </h1><!-- /.site-title -->

      <h3 class="section-name">
					<span>
						<br> <br> <br> <br> <br> <br> <br> <br>
					</span>
      </h3><!-- /.section-name -->


      <div class="next-section">
        <a class="go-to-about"><span></span></a>
      </div><!-- /.next-section -->

    </div><!-- /.container -->
  </div><!-- /.pattern -->
</section><!-- /#page-top -->
<!-- Page Top Section  End -->


<!-- About Us Section -->
<section id="about" class="section-style">
  <div class="pattern height-resize">
    <div class="container">
      <h3 class="section-name">
					<span>
						Available Rydes
					</span>
      </h3><!-- /.section-name -->

      <%= form_tag({controller: "inventory", action: "client"}, method: "get", class: "form-inline", remote: false) do %>
          <div class="form-group">
            <%= label_tag("Make") %>
            <%= select_tag("make", '<option></option><option>Toyota</option><option>Honda</option><option>Ford</option><option>Nissan</option><option>Tesla</option><option>BMW</option><option>Volkswagen</option>'.html_safe, :class => "form-control") %>
          </div>
          <br/>

          <div class="form-group">
            <%= label_tag(:type, "Type") %>
            <%= select_tag("type", '<option></option><option>Sedan</option><option>SUV</option><option>Electric</option><option>Coupe</option><option>Hatchback</option><option>Luxury</option><option>Truck</option><option>Sports</options>'.html_safe, :class => "form-control") %>
          </div>
          <br/>


          <div class="form-horizontal">
            <%= label_tag("Optional:") %> &nbsp; &nbsp;
            <%= label_tag(:leather, "Leather Seats") %>
            <%= check_box_tag(:leather) %> &nbsp; &nbsp;
            <%= label_tag(:fourwheeldrive, "Four Wheel Drive") %>
            <%= check_box_tag(:fourwheeldrive) %> &nbsp; &nbsp;
            <%= label_tag(:foglights, "Fog Lights") %>
            <%= check_box_tag(:foglights) %>&nbsp; &nbsp;
            <%= label_tag(:surround, "Surround Sound") %>
            <%= check_box_tag(:surround) %>&nbsp; &nbsp;
            <%= label_tag(:dvd, "DVD Player") %>
            <%= check_box_tag(:dvd) %>&nbsp; &nbsp;
            <%= submit_tag("Search") %>
          </div>

      <% end %>



      <style type>
      	select option {
			background:gray;
      	}

      	input {
      		background-color:gray;
      		border-color:gray;
      	}

        body {
          background-color: gray;
        }

        #table-wrapper {
          position: relative;
        }

        #table-scroll {
          height: 400px;
          overflow: auto;
          margin-top: 20px;
        }

        #table-wrapper table {
          width: 100%;
        }

        #table-wrapper table thead th .text {
          position: absolute;
          top: -20px;
          z-index: 2;
          height: 20px;
          width: 35%;
          border: 1px solid white;
        }
      </style>


      <div id="table-wrapper">
        <div id="table-scroll">
          <table id="queryresults" bgcolor="#00FF00">
            <thead>
            <tr>
              <th></th>
              <th>Rental Price/Day</th>
              <th>Model</th>
              <th>Make</th>
              <th>Type</th>
              <th>Year</th>
              <th>Color</th>
              <th>Miles Per Gallon</th>
              <th>Distance</th>
              <th>Rent</th>
            </tr>
            </thead>
            <tbody>
            <% @inventorys.each do |car| %>
                <tr id="<%= car.VIN.to_s %>" class="rowentry">
                  <td>+</td>
                  <td>$<%= car.RENTALPRICE %></td>
                  <td><%= car.MODEL %></td>
                  <td><%= car.MAKE %></td>
                  <td><%= car.TYPE %></td>
                  <td><%= car.YEAR %></td>
                  <td><%= car.COLOR %></td>
                  <td><%= car.MPG %></td>
                  <td><%= car.DISTANCE %></td>
                  <td>
                    <button style="background-color:gray;border-color:gray" name="<%= car.VIN.to_s %>" class="rentbutton" type="button">Rent</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="9"></td>
                </tr>

            <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <script>
        document.location.hash = "<%= @div.to_s %>"
      </script>
      <script>
        document.getElementById('make').value = '<%= @mako.to_s%>';
        document.getElementById('type').value = '<%= @typuh.to_s %>';
      </script>

      <script>


        $(function () {

          $("#leather").prop('checked', <%= @leather.to_i %>);
          $('#foglights').prop('checked', <%= @foglights.to_i %>);
          $("#surround").prop('checked', <%= @surround.to_i %>);
          $('#fourwheeldrive').prop('checked', <%= @FWD.to_i %>);
          $('#dvd').prop('checked', <%= @DVD.to_i %>);
          $("td[colspan=9]").hide();
          $("table").click(function (event) {
            event.stopPropagation();
            var $target = $(event.target);
            if ($target.closest("td").attr("colspan") > 1) {
              $target.slideUp();
              $target.closest("tr").prev().find("td:first").html("+");
            } else {
              $target.closest("tr").next().find("td[colspan=9]").slideToggle();
              if ($target.closest("tr").find("td:first").html() == "+") {
                $target.closest("tr").find("td:first").html("-");
                $.ajax({
                  type: 'GET',
                  url: '/inventory/lookupVIN',
                  data: {
                    VIN: $target.closest("tr").attr('id')
                  },
                  success: function (json) {
                    var t = $target.closest("tr").next().find("td[colspan=9]");

                    t.html("Leather Seats: "
                        + json.near[0].LEATHER
                        + "<br />Foglights: "
                        + json.near[0].FOGLIGHTS
                        + "<br />>Four Wheel Drive: "
                        + json.near[0].FWD
                        + "<br >DVD Player: "
                        + json.near[0].DVD
                        + "<br Surround Sound: "
                        + json.near[0].SURROUND
                        + "<br >");
                  }
                });
              }
              else
                $target.closest("tr").find("td:first").html("+");
            }
          });
        });

        /*
         $('tr.rowentry').on('click', function() {
         $.ajax({
         type:'GET',
         url:'/inventory/lookupVIN',
         data: { VIN : $(this).attr('id')
         },
         success:function(json){
         //I assume you want to do something on controller action execution success?
         alert(JSON.stringify(json.near[0]));
         }
         });

         });*/
      </script>


    </div><!-- /.team-container -->

    <div class="next-section">
      <a class="go-to-subscribe"><span></span></a>
    </div><!-- /.next-section -->

  </div><!-- /.container -->
  </div><!-- /.pattern -->


</section><!-- /#about -->
<!-- About Us Section End -->


<!-- Footer Section -->
<footer id="footer-section">
  <p>
    &copy; Ryde by Ajay Srivastava & Abhishek Saha
  </p>
</footer>
<!-- Footer Section End -->


<!-- jQuery Library -->
<script type="text/javascript" src="/assets/jquery-2.1.0.min.js"></script>
<!-- Modernizr js -->
<script type="text/javascript" src="/assets/modernizr-2.8.0.min.js"></script>
<!-- Plugins -->
<script type="text/javascript" src="/assets/plugins.js"></script>
<!-- Custom JavaScript Functions -->
<script type="text/javascript" src="/assets/functions.js"></script>
<!-- Custom JavaScript Functions -->
<script type="text/javascript" src="/assets/jquery.ajaxchimp.min.js"></script>

</body>
</html>
